Source--NETFramework/ISHRemote/Trisoft.ISHRemote/Service References/PublicationOutput25ServiceReference/PublicationOutput4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" elementFormDefault="qualified" targetNamespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/PublicationOutput.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/PublicationOutput.svc?xsd=xsd4" namespace="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Enumerations/API25/" />
  <xs:element name="Release">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="outputFormat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCombination" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlBaselineFreezeReport" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isFrozen" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlBaselineFreezeReport" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isFrozen" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseByIshLngRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lngRef" type="xs:long" />
        <xs:element minOccurs="0" name="xmlBaselineFreezeReport" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isFrozen" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseByIshLngRefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlBaselineFreezeReport" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isFrozen" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="outputFormat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCombination" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlMetadata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequiredCurrentMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMetadataByIshLngRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lngRef" type="xs:long" />
        <xs:element minOccurs="0" name="xmlMetadata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequiredCurrentMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMetadataByIshLngRefResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMetadataByIshLngRefs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lngRefs" nillable="true" type="q1:ArrayOflong" />
        <xs:element minOccurs="0" name="xmlMetadata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequiredCurrentMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMetadataByIshLngRefsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlErrorReport" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="folderRef" type="xs:long" />
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="outputFormat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCombination" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="outputFormat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCombination" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequiredCurrentMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByIshLngRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lngRef" type="xs:long" />
        <xs:element minOccurs="0" name="xmlRequiredCurrentMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteByIshLngRefResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="logicalIds" nillable="true" type="q2:ArrayOfstring" />
        <xs:element xmlns:q3="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Enumerations/API25/" minOccurs="0" name="statusFilter" type="q3:StatusFilter" />
        <xs:element minOccurs="0" name="xmlMetadataFilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMetadataByIshLngRefs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lngRefs" nillable="true" type="q4:ArrayOflong" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMetadataByIshLngRefsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMetadataByIshVersionRefs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="versionRefs" nillable="true" type="q5:ArrayOflong" />
        <xs:element xmlns:q6="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Enumerations/API25/" minOccurs="0" name="statusFilter" type="q6:StatusFilter" />
        <xs:element minOccurs="0" name="xmlMetadataFilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMetadataByIshVersionRefsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveVersionMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="logicalIds" nillable="true" type="q7:ArrayOfstring" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveVersionMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Find">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Enumerations/API25/" minOccurs="0" name="statusFilter" type="q8:StatusFilter" />
        <xs:element minOccurs="0" name="xmlMetadataFilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryGetMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="outputFormat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCombination" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryGetMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TryGetMetadataResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="outputFormat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCombination" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetadataByIshLngRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lngRef" type="xs:long" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetadataByIshLngRefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Containing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="versionNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContainingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsingBaseline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baselineId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsingBaselineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FolderLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FolderLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Enumerations/API25/" minOccurs="0" name="baseFolder" type="q9:BaseFolder" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="folderPath" nillable="true" type="q10:ArrayOfstring" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="folderRefs" nillable="true" type="q11:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FolderLocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="logicalIds" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FolderLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlObjLocationList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataObjectInfoByIshLngRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lngRef" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataObjectInfoByIshLngRefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlIshDataObjects" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextDataObjectChunkByIshLngRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lngRef" type="xs:long" />
        <xs:element minOccurs="0" name="dataRef" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offSet" type="xs:long" />
        <xs:element minOccurs="0" name="size" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextDataObjectChunkByIshLngRefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="offSet" type="xs:long" />
        <xs:element minOccurs="0" name="size" type="xs:int" />
        <xs:element minOccurs="0" name="bytes" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPossibleTargetStatuses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="outputFormat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCombination" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPossibleTargetStatusesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlLovValueList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPossibleTargetStatusesByIshLngRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lngRef" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPossibleTargetStatusesByIshLngRefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlLovValueList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublishReportInfoByIshLngRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lngRef" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublishReportInfoByIshLngRefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlIshPublishReportInfoObjects" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextPublishReportChunkByIshLngRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lngRef" type="xs:long" />
        <xs:element minOccurs="0" name="publishReportRef" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offSet" type="xs:long" />
        <xs:element minOccurs="0" name="size" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextPublishReportChunkByIshLngRefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="offSet" type="xs:long" />
        <xs:element minOccurs="0" name="size" type="xs:int" />
        <xs:element minOccurs="0" name="bytes" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>