Source--NETFramework/ISHRemote/Trisoft.ISHRemote/Service References/PublicationOutput25ServiceReference/PublicationOutput.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Imports">
      <xsd:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/PublicationOutput.svc?xsd=xsd0" namespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" />
      <xsd:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/PublicationOutput.svc?xsd=xsd2" namespace="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" />
      <xsd:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/PublicationOutput.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/PublicationOutput.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/PublicationOutput.svc?xsd=xsd4" namespace="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Enumerations/API25/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PublicationOutput_Release_InputMessage">
    <wsdl:part name="parameters" element="tns:Release" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_Release_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseResponse" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_Release_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q1="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q1:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_ReleaseByIshLngRef_InputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_ReleaseByIshLngRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReleaseByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_ReleaseByIshLngRef_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q2="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q2:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_SetMetadata_InputMessage">
    <wsdl:part name="parameters" element="tns:SetMetadata" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_SetMetadata_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_SetMetadata_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q3="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q3:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_SetMetadataByIshLngRef_InputMessage">
    <wsdl:part name="parameters" element="tns:SetMetadataByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_SetMetadataByIshLngRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetMetadataByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_SetMetadataByIshLngRef_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q4="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q4:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_SetMetadataByIshLngRefs_InputMessage">
    <wsdl:part name="parameters" element="tns:SetMetadataByIshLngRefs" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_SetMetadataByIshLngRefs_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetMetadataByIshLngRefsResponse" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_SetMetadataByIshLngRefs_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q5="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q5:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_Create_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q6="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q6:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_Delete_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q7="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q7:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_DeleteByIshLngRef_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_DeleteByIshLngRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_DeleteByIshLngRef_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q8="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q8:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_RetrieveMetadata_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMetadata" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_RetrieveMetadata_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_RetrieveMetadata_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q9="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q9:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_RetrieveMetadataByIshLngRefs_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMetadataByIshLngRefs" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_RetrieveMetadataByIshLngRefs_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMetadataByIshLngRefsResponse" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_RetrieveMetadataByIshLngRefs_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q10="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q10:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_RetrieveMetadataByIshVersionRefs_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMetadataByIshVersionRefs" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_RetrieveMetadataByIshVersionRefs_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMetadataByIshVersionRefsResponse" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_RetrieveMetadataByIshVersionRefs_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q11="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q11:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_RetrieveVersionMetadata_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveVersionMetadata" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_RetrieveVersionMetadata_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveVersionMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_RetrieveVersionMetadata_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q12="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q12:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_Find_InputMessage">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_Find_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_Find_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q13="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q13:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_TryGetMetadata_InputMessage">
    <wsdl:part name="parameters" element="tns:TryGetMetadata" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_TryGetMetadata_OutputMessage">
    <wsdl:part name="parameters" element="tns:TryGetMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_TryGetMetadata_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q14="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q14:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_GetMetadata_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMetadata" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_GetMetadata_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_GetMetadata_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q15="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q15:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_GetMetadataByIshLngRef_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMetadataByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_GetMetadataByIshLngRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMetadataByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_GetMetadataByIshLngRef_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q16="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q16:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_Containing_InputMessage">
    <wsdl:part name="parameters" element="tns:Containing" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_Containing_OutputMessage">
    <wsdl:part name="parameters" element="tns:ContainingResponse" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_Containing_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q17="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q17:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_UsingBaseline_InputMessage">
    <wsdl:part name="parameters" element="tns:UsingBaseline" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_UsingBaseline_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsingBaselineResponse" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_UsingBaseline_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q18="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q18:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_FolderLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:FolderLocation" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_FolderLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:FolderLocationResponse" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_FolderLocation_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q19="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q19:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_FolderLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:FolderLocations" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_FolderLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:FolderLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_FolderLocations_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q20="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q20:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_GetDataObjectInfoByIshLngRef_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataObjectInfoByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_GetDataObjectInfoByIshLngRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataObjectInfoByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_GetDataObjectInfoByIshLngRef_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q21="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q21:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_GetNextDataObjectChunkByIshLngRef_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextDataObjectChunkByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_GetNextDataObjectChunkByIshLngRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextDataObjectChunkByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_GetNextDataObjectChunkByIshLngRef_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q22="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q22:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_GetPossibleTargetStatuses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPossibleTargetStatuses" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_GetPossibleTargetStatuses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPossibleTargetStatusesResponse" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_GetPossibleTargetStatuses_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q23="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q23:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_GetPossibleTargetStatusesByIshLngRef_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPossibleTargetStatusesByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_GetPossibleTargetStatusesByIshLngRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPossibleTargetStatusesByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_GetPossibleTargetStatusesByIshLngRef_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q24="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q24:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_GetPublishReportInfoByIshLngRef_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPublishReportInfoByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_GetPublishReportInfoByIshLngRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPublishReportInfoByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_GetPublishReportInfoByIshLngRef_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q25="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q25:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_GetNextPublishReportChunkByIshLngRef_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextPublishReportChunkByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_GetNextPublishReportChunkByIshLngRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextPublishReportChunkByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="PublicationOutput_GetNextPublishReportChunkByIshLngRef_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q26="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q26:InfoShareFault" />
  </wsdl:message>
  <wsdl:portType name="PublicationOutput">
    <wsdl:operation name="Release">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/Release" message="tns:PublicationOutput_Release_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/ReleaseResponse" message="tns:PublicationOutput_Release_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/ReleaseInfoShareFault" name="InfoShareFault" message="tns:PublicationOutput_Release_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReleaseByIshLngRef">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/ReleaseByIshLngRef" message="tns:PublicationOutput_ReleaseByIshLngRef_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/ReleaseByIshLngRefResponse" message="tns:PublicationOutput_ReleaseByIshLngRef_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/ReleaseByIshLngRefInfoShareFault" name="InfoShareFault" message="tns:PublicationOutput_ReleaseByIshLngRef_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetMetadata">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/SetMetadata" message="tns:PublicationOutput_SetMetadata_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/SetMetadataResponse" message="tns:PublicationOutput_SetMetadata_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/SetMetadataInfoShareFault" name="InfoShareFault" message="tns:PublicationOutput_SetMetadata_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetMetadataByIshLngRef">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/SetMetadataByIshLngRef" message="tns:PublicationOutput_SetMetadataByIshLngRef_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/SetMetadataByIshLngRefResponse" message="tns:PublicationOutput_SetMetadataByIshLngRef_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/SetMetadataByIshLngRefInfoShareFault" name="InfoShareFault" message="tns:PublicationOutput_SetMetadataByIshLngRef_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetMetadataByIshLngRefs">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/SetMetadataByIshLngRefs" message="tns:PublicationOutput_SetMetadataByIshLngRefs_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/SetMetadataByIshLngRefsResponse" message="tns:PublicationOutput_SetMetadataByIshLngRefs_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/SetMetadataByIshLngRefsInfoShareFault" name="InfoShareFault" message="tns:PublicationOutput_SetMetadataByIshLngRefs_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/Create" message="tns:PublicationOutput_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/CreateResponse" message="tns:PublicationOutput_Create_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/CreateInfoShareFault" name="InfoShareFault" message="tns:PublicationOutput_Create_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/Delete" message="tns:PublicationOutput_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/DeleteResponse" message="tns:PublicationOutput_Delete_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/DeleteInfoShareFault" name="InfoShareFault" message="tns:PublicationOutput_Delete_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByIshLngRef">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/DeleteByIshLngRef" message="tns:PublicationOutput_DeleteByIshLngRef_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/DeleteByIshLngRefResponse" message="tns:PublicationOutput_DeleteByIshLngRef_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/DeleteByIshLngRefInfoShareFault" name="InfoShareFault" message="tns:PublicationOutput_DeleteByIshLngRef_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMetadata">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/RetrieveMetadata" message="tns:PublicationOutput_RetrieveMetadata_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/RetrieveMetadataResponse" message="tns:PublicationOutput_RetrieveMetadata_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/RetrieveMetadataInfoShareFault" name="InfoShareFault" message="tns:PublicationOutput_RetrieveMetadata_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMetadataByIshLngRefs">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/RetrieveMetadataByIshLngRefs" message="tns:PublicationOutput_RetrieveMetadataByIshLngRefs_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/RetrieveMetadataByIshLngRefsResponse" message="tns:PublicationOutput_RetrieveMetadataByIshLngRefs_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/RetrieveMetadataByIshLngRefsInfoShareFault" name="InfoShareFault" message="tns:PublicationOutput_RetrieveMetadataByIshLngRefs_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMetadataByIshVersionRefs">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/RetrieveMetadataByIshVersionRefs" message="tns:PublicationOutput_RetrieveMetadataByIshVersionRefs_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/RetrieveMetadataByIshVersionRefsResponse" message="tns:PublicationOutput_RetrieveMetadataByIshVersionRefs_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/RetrieveMetadataByIshVersionRefsInfoShareFault" name="InfoShareFault" message="tns:PublicationOutput_RetrieveMetadataByIshVersionRefs_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveVersionMetadata">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/RetrieveVersionMetadata" message="tns:PublicationOutput_RetrieveVersionMetadata_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/RetrieveVersionMetadataResponse" message="tns:PublicationOutput_RetrieveVersionMetadata_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/RetrieveVersionMetadataInfoShareFault" name="InfoShareFault" message="tns:PublicationOutput_RetrieveVersionMetadata_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Find">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/Find" message="tns:PublicationOutput_Find_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/FindResponse" message="tns:PublicationOutput_Find_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/FindInfoShareFault" name="InfoShareFault" message="tns:PublicationOutput_Find_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="TryGetMetadata">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/TryGetMetadata" message="tns:PublicationOutput_TryGetMetadata_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/TryGetMetadataResponse" message="tns:PublicationOutput_TryGetMetadata_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/TryGetMetadataInfoShareFault" name="InfoShareFault" message="tns:PublicationOutput_TryGetMetadata_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMetadata">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/GetMetadata" message="tns:PublicationOutput_GetMetadata_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/GetMetadataResponse" message="tns:PublicationOutput_GetMetadata_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/GetMetadataInfoShareFault" name="InfoShareFault" message="tns:PublicationOutput_GetMetadata_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMetadataByIshLngRef">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/GetMetadataByIshLngRef" message="tns:PublicationOutput_GetMetadataByIshLngRef_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/GetMetadataByIshLngRefResponse" message="tns:PublicationOutput_GetMetadataByIshLngRef_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/GetMetadataByIshLngRefInfoShareFault" name="InfoShareFault" message="tns:PublicationOutput_GetMetadataByIshLngRef_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Containing">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/Containing" message="tns:PublicationOutput_Containing_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/ContainingResponse" message="tns:PublicationOutput_Containing_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/ContainingInfoShareFault" name="InfoShareFault" message="tns:PublicationOutput_Containing_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UsingBaseline">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/UsingBaseline" message="tns:PublicationOutput_UsingBaseline_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/UsingBaselineResponse" message="tns:PublicationOutput_UsingBaseline_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/UsingBaselineInfoShareFault" name="InfoShareFault" message="tns:PublicationOutput_UsingBaseline_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="FolderLocation">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/FolderLocation" message="tns:PublicationOutput_FolderLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/FolderLocationResponse" message="tns:PublicationOutput_FolderLocation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/FolderLocationInfoShareFault" name="InfoShareFault" message="tns:PublicationOutput_FolderLocation_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="FolderLocations">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/FolderLocations" message="tns:PublicationOutput_FolderLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/FolderLocationsResponse" message="tns:PublicationOutput_FolderLocations_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/FolderLocationsInfoShareFault" name="InfoShareFault" message="tns:PublicationOutput_FolderLocations_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataObjectInfoByIshLngRef">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/GetDataObjectInfoByIshLngRef" message="tns:PublicationOutput_GetDataObjectInfoByIshLngRef_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/GetDataObjectInfoByIshLngRefResponse" message="tns:PublicationOutput_GetDataObjectInfoByIshLngRef_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/GetDataObjectInfoByIshLngRefInfoShareFault" name="InfoShareFault" message="tns:PublicationOutput_GetDataObjectInfoByIshLngRef_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNextDataObjectChunkByIshLngRef">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/GetNextDataObjectChunkByIshLngRef" message="tns:PublicationOutput_GetNextDataObjectChunkByIshLngRef_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/GetNextDataObjectChunkByIshLngRefResponse" message="tns:PublicationOutput_GetNextDataObjectChunkByIshLngRef_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/GetNextDataObjectChunkByIshLngRefInfoShareFault" name="InfoShareFault" message="tns:PublicationOutput_GetNextDataObjectChunkByIshLngRef_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPossibleTargetStatuses">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/GetPossibleTargetStatuses" message="tns:PublicationOutput_GetPossibleTargetStatuses_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/GetPossibleTargetStatusesResponse" message="tns:PublicationOutput_GetPossibleTargetStatuses_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/GetPossibleTargetStatusesInfoShareFault" name="InfoShareFault" message="tns:PublicationOutput_GetPossibleTargetStatuses_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPossibleTargetStatusesByIshLngRef">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/GetPossibleTargetStatusesByIshLngRef" message="tns:PublicationOutput_GetPossibleTargetStatusesByIshLngRef_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/GetPossibleTargetStatusesByIshLngRefResponse" message="tns:PublicationOutput_GetPossibleTargetStatusesByIshLngRef_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/GetPossibleTargetStatusesByIshLngRefInfoShareFault" name="InfoShareFault" message="tns:PublicationOutput_GetPossibleTargetStatusesByIshLngRef_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPublishReportInfoByIshLngRef">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/GetPublishReportInfoByIshLngRef" message="tns:PublicationOutput_GetPublishReportInfoByIshLngRef_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/GetPublishReportInfoByIshLngRefResponse" message="tns:PublicationOutput_GetPublishReportInfoByIshLngRef_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/GetPublishReportInfoByIshLngRefInfoShareFault" name="InfoShareFault" message="tns:PublicationOutput_GetPublishReportInfoByIshLngRef_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNextPublishReportChunkByIshLngRef">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/GetNextPublishReportChunkByIshLngRef" message="tns:PublicationOutput_GetNextPublishReportChunkByIshLngRef_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/GetNextPublishReportChunkByIshLngRefResponse" message="tns:PublicationOutput_GetNextPublishReportChunkByIshLngRef_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/PublicationOutput/GetNextPublishReportChunkByIshLngRefInfoShareFault" name="InfoShareFault" message="tns:PublicationOutput_GetNextPublishReportChunkByIshLngRef_InfoShareFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>