Source--NETFramework/ISHRemote/Trisoft.ISHRemote/Service References/DocumentObj25ServiceReference/DocumentObj1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Imports">
      <xsd:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/DocumentObj.svc?xsd=xsd0" namespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" />
      <xsd:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/DocumentObj.svc?xsd=xsd2" namespace="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" />
      <xsd:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/DocumentObj.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/DocumentObj.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/DocumentObj.svc?xsd=xsd4" namespace="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Enumerations/API25/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DocumentObj_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_Create_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q1="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q1:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_UpdateByIshLngRef_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_UpdateByIshLngRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_UpdateByIshLngRef_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q2="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q2:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_Update_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q3="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q3:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_DeleteByIshLngRef_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_DeleteByIshLngRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_DeleteByIshLngRef_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q4="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q4:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_Delete_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q5="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q5:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_SetMetadataByIshLngRef_InputMessage">
    <wsdl:part name="parameters" element="tns:SetMetadataByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_SetMetadataByIshLngRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetMetadataByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_SetMetadataByIshLngRef_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q6="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q6:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_SetMetadata_InputMessage">
    <wsdl:part name="parameters" element="tns:SetMetadata" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_SetMetadata_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_SetMetadata_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q7="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q7:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_SetMetadataByIshLngRefs_InputMessage">
    <wsdl:part name="parameters" element="tns:SetMetadataByIshLngRefs" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_SetMetadataByIshLngRefs_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetMetadataByIshLngRefsResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_SetMetadataByIshLngRefs_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q8="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q8:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_UndoCheckOutByIshLngRef_InputMessage">
    <wsdl:part name="parameters" element="tns:UndoCheckOutByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_UndoCheckOutByIshLngRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:UndoCheckOutByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_UndoCheckOutByIshLngRef_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q9="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q9:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_UndoCheckOut_InputMessage">
    <wsdl:part name="parameters" element="tns:UndoCheckOut" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_UndoCheckOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:UndoCheckOutResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_UndoCheckOut_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q10="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q10:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_CheckInByIshLngRef_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckInByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_CheckInByIshLngRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckInByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_CheckInByIshLngRef_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q11="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q11:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_CheckIn_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckIn" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_CheckIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckInResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_CheckIn_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q12="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q12:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_CheckOutByIshLngRef_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckOutByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_CheckOutByIshLngRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckOutByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_CheckOutByIshLngRef_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q13="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q13:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_CheckOut_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckOut" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_CheckOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckOutResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_CheckOut_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q14="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q14:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetMetadataByIshLngRef_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMetadataByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetMetadataByIshLngRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMetadataByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetMetadataByIshLngRef_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q15="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q15:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetMetadata_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMetadata" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetMetadata_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetMetadata_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q16="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q16:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_TryGetMetadata_InputMessage">
    <wsdl:part name="parameters" element="tns:TryGetMetadata" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_TryGetMetadata_OutputMessage">
    <wsdl:part name="parameters" element="tns:TryGetMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_TryGetMetadata_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q17="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q17:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveMetadataByIshLngRefs_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMetadataByIshLngRefs" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveMetadataByIshLngRefs_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMetadataByIshLngRefsResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveMetadataByIshLngRefs_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q18="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q18:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveMetadataByIshVersionRefs_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMetadataByIshVersionRefs" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveMetadataByIshVersionRefs_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMetadataByIshVersionRefsResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveMetadataByIshVersionRefs_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q19="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q19:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveVersionMetadata_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveVersionMetadata" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveVersionMetadata_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveVersionMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveVersionMetadata_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q20="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q20:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetDataObjectInfoByIshLngRef_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataObjectInfoByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetDataObjectInfoByIshLngRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataObjectInfoByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetDataObjectInfoByIshLngRef_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q21="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q21:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveDataObjectInfoByIshLngRefs_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDataObjectInfoByIshLngRefs" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveDataObjectInfoByIshLngRefs_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDataObjectInfoByIshLngRefsResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveDataObjectInfoByIshLngRefs_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q22="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q22:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObject" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObjectResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetObject_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q23="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q23:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveObjects_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveObjects" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveObjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveObjects_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q24="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q24:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveObjectsByIshLngRefs_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveObjectsByIshLngRefs" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveObjectsByIshLngRefs_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveObjectsByIshLngRefsResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveObjectsByIshLngRefs_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q25="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q25:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveObjectsByRevisionIds_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveObjectsByRevisionIds" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveObjectsByRevisionIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveObjectsByRevisionIdsResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveObjectsByRevisionIds_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q26="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q26:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveRevisionInfoByIshLngRefs_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRevisionInfoByIshLngRefs" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveRevisionInfoByIshLngRefs_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveRevisionInfoByIshLngRefsResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveRevisionInfoByIshLngRefs_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q27="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q27:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_FolderLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:FolderLocations" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_FolderLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:FolderLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_FolderLocations_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q28="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q28:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_Find_InputMessage">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_Find_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_Find_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q29="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q29:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveMetadata_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMetadata" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveMetadata_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveMetadata_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q30="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q30:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveLanguageMetadata_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveLanguageMetadata" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveLanguageMetadata_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveLanguageMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RetrieveLanguageMetadata_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q31="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q31:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_FolderLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:FolderLocation" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_FolderLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:FolderLocationResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_FolderLocation_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q32="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q32:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_ContainingLogicalId_InputMessage">
    <wsdl:part name="parameters" element="tns:ContainingLogicalId" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_ContainingLogicalId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ContainingLogicalIdResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_ContainingLogicalId_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q33="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q33:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_ContainingCondition_InputMessage">
    <wsdl:part name="parameters" element="tns:ContainingCondition" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_ContainingCondition_OutputMessage">
    <wsdl:part name="parameters" element="tns:ContainingConditionResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_ContainingCondition_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q34="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q34:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_ContainingVariable_InputMessage">
    <wsdl:part name="parameters" element="tns:ContainingVariable" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_ContainingVariable_OutputMessage">
    <wsdl:part name="parameters" element="tns:ContainingVariableResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_ContainingVariable_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q35="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q35:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetChildren_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChildren" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetChildren_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChildrenResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetChildren_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q36="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q36:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetPossibleTargetStatuses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPossibleTargetStatuses" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetPossibleTargetStatuses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPossibleTargetStatusesResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetPossibleTargetStatuses_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q37="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q37:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetPossibleTargetStatusesByIshLngRef_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPossibleTargetStatusesByIshLngRef" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetPossibleTargetStatusesByIshLngRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPossibleTargetStatusesByIshLngRefResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_GetPossibleTargetStatusesByIshLngRef_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q38="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q38:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RaisePublishEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:RaisePublishEvent" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RaisePublishEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:RaisePublishEventResponse" />
  </wsdl:message>
  <wsdl:message name="DocumentObj_RaisePublishEvent_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q39="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q39:InfoShareFault" />
  </wsdl:message>
  <wsdl:portType name="DocumentObj">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/Create" message="tns:DocumentObj_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/CreateResponse" message="tns:DocumentObj_Create_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/CreateInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_Create_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateByIshLngRef">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/UpdateByIshLngRef" message="tns:DocumentObj_UpdateByIshLngRef_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/UpdateByIshLngRefResponse" message="tns:DocumentObj_UpdateByIshLngRef_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/UpdateByIshLngRefInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_UpdateByIshLngRef_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/Update" message="tns:DocumentObj_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/UpdateResponse" message="tns:DocumentObj_Update_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/UpdateInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_Update_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByIshLngRef">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/DeleteByIshLngRef" message="tns:DocumentObj_DeleteByIshLngRef_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/DeleteByIshLngRefResponse" message="tns:DocumentObj_DeleteByIshLngRef_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/DeleteByIshLngRefInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_DeleteByIshLngRef_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/Delete" message="tns:DocumentObj_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/DeleteResponse" message="tns:DocumentObj_Delete_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/DeleteInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_Delete_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetMetadataByIshLngRef">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/SetMetadataByIshLngRef" message="tns:DocumentObj_SetMetadataByIshLngRef_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/SetMetadataByIshLngRefResponse" message="tns:DocumentObj_SetMetadataByIshLngRef_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/SetMetadataByIshLngRefInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_SetMetadataByIshLngRef_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetMetadata">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/SetMetadata" message="tns:DocumentObj_SetMetadata_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/SetMetadataResponse" message="tns:DocumentObj_SetMetadata_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/SetMetadataInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_SetMetadata_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetMetadataByIshLngRefs">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/SetMetadataByIshLngRefs" message="tns:DocumentObj_SetMetadataByIshLngRefs_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/SetMetadataByIshLngRefsResponse" message="tns:DocumentObj_SetMetadataByIshLngRefs_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/SetMetadataByIshLngRefsInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_SetMetadataByIshLngRefs_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UndoCheckOutByIshLngRef">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/UndoCheckOutByIshLngRef" message="tns:DocumentObj_UndoCheckOutByIshLngRef_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/UndoCheckOutByIshLngRefResponse" message="tns:DocumentObj_UndoCheckOutByIshLngRef_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/UndoCheckOutByIshLngRefInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_UndoCheckOutByIshLngRef_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UndoCheckOut">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/UndoCheckOut" message="tns:DocumentObj_UndoCheckOut_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/UndoCheckOutResponse" message="tns:DocumentObj_UndoCheckOut_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/UndoCheckOutInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_UndoCheckOut_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckInByIshLngRef">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/CheckInByIshLngRef" message="tns:DocumentObj_CheckInByIshLngRef_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/CheckInByIshLngRefResponse" message="tns:DocumentObj_CheckInByIshLngRef_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/CheckInByIshLngRefInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_CheckInByIshLngRef_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckIn">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/CheckIn" message="tns:DocumentObj_CheckIn_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/CheckInResponse" message="tns:DocumentObj_CheckIn_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/CheckInInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_CheckIn_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckOutByIshLngRef">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/CheckOutByIshLngRef" message="tns:DocumentObj_CheckOutByIshLngRef_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/CheckOutByIshLngRefResponse" message="tns:DocumentObj_CheckOutByIshLngRef_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/CheckOutByIshLngRefInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_CheckOutByIshLngRef_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckOut">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/CheckOut" message="tns:DocumentObj_CheckOut_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/CheckOutResponse" message="tns:DocumentObj_CheckOut_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/CheckOutInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_CheckOut_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMetadataByIshLngRef">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetMetadataByIshLngRef" message="tns:DocumentObj_GetMetadataByIshLngRef_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetMetadataByIshLngRefResponse" message="tns:DocumentObj_GetMetadataByIshLngRef_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetMetadataByIshLngRefInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_GetMetadataByIshLngRef_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMetadata">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetMetadata" message="tns:DocumentObj_GetMetadata_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetMetadataResponse" message="tns:DocumentObj_GetMetadata_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetMetadataInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_GetMetadata_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="TryGetMetadata">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/TryGetMetadata" message="tns:DocumentObj_TryGetMetadata_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/TryGetMetadataResponse" message="tns:DocumentObj_TryGetMetadata_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/TryGetMetadataInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_TryGetMetadata_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMetadataByIshLngRefs">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveMetadataByIshLngRefs" message="tns:DocumentObj_RetrieveMetadataByIshLngRefs_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveMetadataByIshLngRefsResponse" message="tns:DocumentObj_RetrieveMetadataByIshLngRefs_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveMetadataByIshLngRefsInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_RetrieveMetadataByIshLngRefs_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMetadataByIshVersionRefs">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveMetadataByIshVersionRefs" message="tns:DocumentObj_RetrieveMetadataByIshVersionRefs_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveMetadataByIshVersionRefsResponse" message="tns:DocumentObj_RetrieveMetadataByIshVersionRefs_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveMetadataByIshVersionRefsInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_RetrieveMetadataByIshVersionRefs_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveVersionMetadata">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveVersionMetadata" message="tns:DocumentObj_RetrieveVersionMetadata_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveVersionMetadataResponse" message="tns:DocumentObj_RetrieveVersionMetadata_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveVersionMetadataInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_RetrieveVersionMetadata_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataObjectInfoByIshLngRef">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetDataObjectInfoByIshLngRef" message="tns:DocumentObj_GetDataObjectInfoByIshLngRef_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetDataObjectInfoByIshLngRefResponse" message="tns:DocumentObj_GetDataObjectInfoByIshLngRef_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetDataObjectInfoByIshLngRefInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_GetDataObjectInfoByIshLngRef_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveDataObjectInfoByIshLngRefs">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveDataObjectInfoByIshLngRefs" message="tns:DocumentObj_RetrieveDataObjectInfoByIshLngRefs_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveDataObjectInfoByIshLngRefsResponse" message="tns:DocumentObj_RetrieveDataObjectInfoByIshLngRefs_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveDataObjectInfoByIshLngRefsInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_RetrieveDataObjectInfoByIshLngRefs_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObject">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetObject" message="tns:DocumentObj_GetObject_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetObjectResponse" message="tns:DocumentObj_GetObject_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetObjectInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_GetObject_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveObjects">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveObjects" message="tns:DocumentObj_RetrieveObjects_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveObjectsResponse" message="tns:DocumentObj_RetrieveObjects_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveObjectsInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_RetrieveObjects_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveObjectsByIshLngRefs">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveObjectsByIshLngRefs" message="tns:DocumentObj_RetrieveObjectsByIshLngRefs_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveObjectsByIshLngRefsResponse" message="tns:DocumentObj_RetrieveObjectsByIshLngRefs_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveObjectsByIshLngRefsInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_RetrieveObjectsByIshLngRefs_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveObjectsByRevisionIds">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveObjectsByRevisionIds" message="tns:DocumentObj_RetrieveObjectsByRevisionIds_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveObjectsByRevisionIdsResponse" message="tns:DocumentObj_RetrieveObjectsByRevisionIds_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveObjectsByRevisionIdsInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_RetrieveObjectsByRevisionIds_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveRevisionInfoByIshLngRefs">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveRevisionInfoByIshLngRefs" message="tns:DocumentObj_RetrieveRevisionInfoByIshLngRefs_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveRevisionInfoByIshLngRefsResponse" message="tns:DocumentObj_RetrieveRevisionInfoByIshLngRefs_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveRevisionInfoByIshLngRefsInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_RetrieveRevisionInfoByIshLngRefs_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="FolderLocations">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/FolderLocations" message="tns:DocumentObj_FolderLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/FolderLocationsResponse" message="tns:DocumentObj_FolderLocations_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/FolderLocationsInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_FolderLocations_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Find">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/Find" message="tns:DocumentObj_Find_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/FindResponse" message="tns:DocumentObj_Find_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/FindInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_Find_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMetadata">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveMetadata" message="tns:DocumentObj_RetrieveMetadata_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveMetadataResponse" message="tns:DocumentObj_RetrieveMetadata_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveMetadataInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_RetrieveMetadata_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveLanguageMetadata">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveLanguageMetadata" message="tns:DocumentObj_RetrieveLanguageMetadata_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveLanguageMetadataResponse" message="tns:DocumentObj_RetrieveLanguageMetadata_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RetrieveLanguageMetadataInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_RetrieveLanguageMetadata_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="FolderLocation">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/FolderLocation" message="tns:DocumentObj_FolderLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/FolderLocationResponse" message="tns:DocumentObj_FolderLocation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/FolderLocationInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_FolderLocation_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ContainingLogicalId">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/ContainingLogicalId" message="tns:DocumentObj_ContainingLogicalId_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/ContainingLogicalIdResponse" message="tns:DocumentObj_ContainingLogicalId_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/ContainingLogicalIdInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_ContainingLogicalId_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ContainingCondition">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/ContainingCondition" message="tns:DocumentObj_ContainingCondition_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/ContainingConditionResponse" message="tns:DocumentObj_ContainingCondition_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/ContainingConditionInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_ContainingCondition_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ContainingVariable">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/ContainingVariable" message="tns:DocumentObj_ContainingVariable_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/ContainingVariableResponse" message="tns:DocumentObj_ContainingVariable_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/ContainingVariableInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_ContainingVariable_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChildren">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetChildren" message="tns:DocumentObj_GetChildren_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetChildrenResponse" message="tns:DocumentObj_GetChildren_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetChildrenInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_GetChildren_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPossibleTargetStatuses">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetPossibleTargetStatuses" message="tns:DocumentObj_GetPossibleTargetStatuses_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetPossibleTargetStatusesResponse" message="tns:DocumentObj_GetPossibleTargetStatuses_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetPossibleTargetStatusesInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_GetPossibleTargetStatuses_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPossibleTargetStatusesByIshLngRef">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetPossibleTargetStatusesByIshLngRef" message="tns:DocumentObj_GetPossibleTargetStatusesByIshLngRef_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetPossibleTargetStatusesByIshLngRefResponse" message="tns:DocumentObj_GetPossibleTargetStatusesByIshLngRef_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/GetPossibleTargetStatusesByIshLngRefInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_GetPossibleTargetStatusesByIshLngRef_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RaisePublishEvent">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RaisePublishEvent" message="tns:DocumentObj_RaisePublishEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RaisePublishEventResponse" message="tns:DocumentObj_RaisePublishEvent_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/DocumentObj/RaisePublishEventInfoShareFault" name="InfoShareFault" message="tns:DocumentObj_RaisePublishEvent_InfoShareFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>