Source/ISHRemote/Trisoft.ISHRemote/Service References/Folder25ServiceReference/Folder1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Imports">
      <xsd:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/Folder.svc?xsd=xsd0" namespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" />
      <xsd:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/Folder.svc?xsd=xsd2" namespace="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" />
      <xsd:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/Folder.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/Folder.svc?xsd=xsd3" namespace="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Enumerations/API25/" />
      <xsd:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/Folder.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Folder_GetMetadataByIshFolderRef_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMetadataByIshFolderRef" />
  </wsdl:message>
  <wsdl:message name="Folder_GetMetadataByIshFolderRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMetadataByIshFolderRefResponse" />
  </wsdl:message>
  <wsdl:message name="Folder_GetMetadataByIshFolderRef_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q1="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q1:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="Folder_GetSubFoldersByIshFolderRef_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubFoldersByIshFolderRef" />
  </wsdl:message>
  <wsdl:message name="Folder_GetSubFoldersByIshFolderRef_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubFoldersByIshFolderRefResponse" />
  </wsdl:message>
  <wsdl:message name="Folder_GetSubFoldersByIshFolderRef_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q2="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q2:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="Folder_GetContents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContents" />
  </wsdl:message>
  <wsdl:message name="Folder_GetContents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContentsResponse" />
  </wsdl:message>
  <wsdl:message name="Folder_GetContents_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q3="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q3:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="Folder_GetMetadata_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMetadata" />
  </wsdl:message>
  <wsdl:message name="Folder_GetMetadata_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="Folder_GetMetadata_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q4="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q4:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="Folder_GetSubFolders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubFolders" />
  </wsdl:message>
  <wsdl:message name="Folder_GetSubFolders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubFoldersResponse" />
  </wsdl:message>
  <wsdl:message name="Folder_GetSubFolders_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q5="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q5:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="Folder_RetrieveMetadataByIshFolderRefs_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMetadataByIshFolderRefs" />
  </wsdl:message>
  <wsdl:message name="Folder_RetrieveMetadataByIshFolderRefs_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMetadataByIshFolderRefsResponse" />
  </wsdl:message>
  <wsdl:message name="Folder_RetrieveMetadataByIshFolderRefs_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q6="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q6:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="Folder_FolderLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:FolderLocation" />
  </wsdl:message>
  <wsdl:message name="Folder_FolderLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:FolderLocationResponse" />
  </wsdl:message>
  <wsdl:message name="Folder_FolderLocation_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q7="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q7:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="Folder_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="Folder_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="Folder_Create_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q8="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q8:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="Folder_CreateQueryFolder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateQueryFolder" />
  </wsdl:message>
  <wsdl:message name="Folder_CreateQueryFolder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateQueryFolderResponse" />
  </wsdl:message>
  <wsdl:message name="Folder_CreateQueryFolder_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q9="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q9:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="Folder_CreateReferenceFolder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateReferenceFolder" />
  </wsdl:message>
  <wsdl:message name="Folder_CreateReferenceFolder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateReferenceFolderResponse" />
  </wsdl:message>
  <wsdl:message name="Folder_CreateReferenceFolder_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q10="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q10:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="Folder_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="Folder_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="Folder_Update_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q11="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q11:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="Folder_UpdateQueryFolder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQueryFolder" />
  </wsdl:message>
  <wsdl:message name="Folder_UpdateQueryFolder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQueryFolderResponse" />
  </wsdl:message>
  <wsdl:message name="Folder_UpdateQueryFolder_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q12="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q12:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="Folder_UpdateReferenceFolder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReferenceFolder" />
  </wsdl:message>
  <wsdl:message name="Folder_UpdateReferenceFolder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReferenceFolderResponse" />
  </wsdl:message>
  <wsdl:message name="Folder_UpdateReferenceFolder_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q13="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q13:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="Folder_Rename_InputMessage">
    <wsdl:part name="parameters" element="tns:Rename" />
  </wsdl:message>
  <wsdl:message name="Folder_Rename_OutputMessage">
    <wsdl:part name="parameters" element="tns:RenameResponse" />
  </wsdl:message>
  <wsdl:message name="Folder_Rename_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q14="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q14:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="Folder_Move_InputMessage">
    <wsdl:part name="parameters" element="tns:Move" />
  </wsdl:message>
  <wsdl:message name="Folder_Move_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveResponse" />
  </wsdl:message>
  <wsdl:message name="Folder_Move_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q15="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q15:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="Folder_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="Folder_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="Folder_Delete_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q16="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q16:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="Folder_AddShortCuts_InputMessage">
    <wsdl:part name="parameters" element="tns:AddShortCuts" />
  </wsdl:message>
  <wsdl:message name="Folder_AddShortCuts_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddShortCutsResponse" />
  </wsdl:message>
  <wsdl:message name="Folder_AddShortCuts_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q17="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q17:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="Folder_RemoveShortCuts_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveShortCuts" />
  </wsdl:message>
  <wsdl:message name="Folder_RemoveShortCuts_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveShortCutsResponse" />
  </wsdl:message>
  <wsdl:message name="Folder_RemoveShortCuts_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q18="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q18:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="Folder_MoveObjects_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveObjects" />
  </wsdl:message>
  <wsdl:message name="Folder_MoveObjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="Folder_MoveObjects_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q19="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q19:InfoShareFault" />
  </wsdl:message>
  <wsdl:portType name="Folder">
    <wsdl:operation name="GetMetadataByIshFolderRef">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/GetMetadataByIshFolderRef" message="tns:Folder_GetMetadataByIshFolderRef_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/GetMetadataByIshFolderRefResponse" message="tns:Folder_GetMetadataByIshFolderRef_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/GetMetadataByIshFolderRefInfoShareFault" name="InfoShareFault" message="tns:Folder_GetMetadataByIshFolderRef_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubFoldersByIshFolderRef">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/GetSubFoldersByIshFolderRef" message="tns:Folder_GetSubFoldersByIshFolderRef_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/GetSubFoldersByIshFolderRefResponse" message="tns:Folder_GetSubFoldersByIshFolderRef_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/GetSubFoldersByIshFolderRefInfoShareFault" name="InfoShareFault" message="tns:Folder_GetSubFoldersByIshFolderRef_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContents">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/GetContents" message="tns:Folder_GetContents_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/GetContentsResponse" message="tns:Folder_GetContents_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/GetContentsInfoShareFault" name="InfoShareFault" message="tns:Folder_GetContents_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMetadata">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/GetMetadata" message="tns:Folder_GetMetadata_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/GetMetadataResponse" message="tns:Folder_GetMetadata_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/GetMetadataInfoShareFault" name="InfoShareFault" message="tns:Folder_GetMetadata_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubFolders">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/GetSubFolders" message="tns:Folder_GetSubFolders_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/GetSubFoldersResponse" message="tns:Folder_GetSubFolders_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/GetSubFoldersInfoShareFault" name="InfoShareFault" message="tns:Folder_GetSubFolders_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMetadataByIshFolderRefs">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/RetrieveMetadataByIshFolderRefs" message="tns:Folder_RetrieveMetadataByIshFolderRefs_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/RetrieveMetadataByIshFolderRefsResponse" message="tns:Folder_RetrieveMetadataByIshFolderRefs_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/RetrieveMetadataByIshFolderRefsInfoShareFault" name="InfoShareFault" message="tns:Folder_RetrieveMetadataByIshFolderRefs_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="FolderLocation">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/FolderLocation" message="tns:Folder_FolderLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/FolderLocationResponse" message="tns:Folder_FolderLocation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/FolderLocationInfoShareFault" name="InfoShareFault" message="tns:Folder_FolderLocation_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/Create" message="tns:Folder_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/CreateResponse" message="tns:Folder_Create_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/CreateInfoShareFault" name="InfoShareFault" message="tns:Folder_Create_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateQueryFolder">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/CreateQueryFolder" message="tns:Folder_CreateQueryFolder_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/CreateQueryFolderResponse" message="tns:Folder_CreateQueryFolder_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/CreateQueryFolderInfoShareFault" name="InfoShareFault" message="tns:Folder_CreateQueryFolder_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateReferenceFolder">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/CreateReferenceFolder" message="tns:Folder_CreateReferenceFolder_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/CreateReferenceFolderResponse" message="tns:Folder_CreateReferenceFolder_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/CreateReferenceFolderInfoShareFault" name="InfoShareFault" message="tns:Folder_CreateReferenceFolder_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/Update" message="tns:Folder_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/UpdateResponse" message="tns:Folder_Update_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/UpdateInfoShareFault" name="InfoShareFault" message="tns:Folder_Update_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateQueryFolder">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/UpdateQueryFolder" message="tns:Folder_UpdateQueryFolder_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/UpdateQueryFolderResponse" message="tns:Folder_UpdateQueryFolder_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/UpdateQueryFolderInfoShareFault" name="InfoShareFault" message="tns:Folder_UpdateQueryFolder_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReferenceFolder">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/UpdateReferenceFolder" message="tns:Folder_UpdateReferenceFolder_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/UpdateReferenceFolderResponse" message="tns:Folder_UpdateReferenceFolder_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/UpdateReferenceFolderInfoShareFault" name="InfoShareFault" message="tns:Folder_UpdateReferenceFolder_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Rename">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/Rename" message="tns:Folder_Rename_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/RenameResponse" message="tns:Folder_Rename_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/RenameInfoShareFault" name="InfoShareFault" message="tns:Folder_Rename_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Move">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/Move" message="tns:Folder_Move_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/MoveResponse" message="tns:Folder_Move_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/MoveInfoShareFault" name="InfoShareFault" message="tns:Folder_Move_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/Delete" message="tns:Folder_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/DeleteResponse" message="tns:Folder_Delete_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/DeleteInfoShareFault" name="InfoShareFault" message="tns:Folder_Delete_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddShortCuts">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/AddShortCuts" message="tns:Folder_AddShortCuts_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/AddShortCutsResponse" message="tns:Folder_AddShortCuts_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/AddShortCutsInfoShareFault" name="InfoShareFault" message="tns:Folder_AddShortCuts_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveShortCuts">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/RemoveShortCuts" message="tns:Folder_RemoveShortCuts_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/RemoveShortCutsResponse" message="tns:Folder_RemoveShortCuts_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/RemoveShortCutsInfoShareFault" name="InfoShareFault" message="tns:Folder_RemoveShortCuts_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveObjects">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/MoveObjects" message="tns:Folder_MoveObjects_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/MoveObjectsResponse" message="tns:Folder_MoveObjects_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Folder/MoveObjectsInfoShareFault" name="InfoShareFault" message="tns:Folder_MoveObjects_InfoShareFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>