Source--NETFramework/ISHRemote/Trisoft.ISHRemote/Service References/ListOfValues25ServiceReference/ListOfValues2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" elementFormDefault="qualified" targetNamespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/ListOfValues.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/ListOfValues.svc?xsd=xsd4" namespace="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Enumerations/API25/" />
  <xs:element name="RetrieveLists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="filterLovIds" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveListsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlLovList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lovIds" nillable="true" type="q2:ArrayOfstring" />
        <xs:element xmlns:q3="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Enumerations/API25/" minOccurs="0" name="activityFilter" type="q3:ActivityFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlLovValueList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lovId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="label" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateValue2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lovId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lovValueId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="label" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateValue2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lovValueId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lovId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lovValueId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="label" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="active" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateValueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lovId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lovValueId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteValueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>