Source/ISHRemote/Trisoft.ISHRemote/Service References/BackgroundTask25ServiceReference/BackgroundTask1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" elementFormDefault="qualified" targetNamespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/BackgroundTask.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/InfoShareWS" />
  <xs:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/BackgroundTask.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreateBackgroundTaskWithStartAfter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inputData" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="progressId" type="xs:long" />
        <xs:element minOccurs="0" name="hashId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startAfter" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBackgroundTaskWithStartAfterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateBackgroundTaskWithStartAfterResult" type="xs:long" />
        <xs:element minOccurs="0" name="progressId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBackgroundTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eventType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inputData" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="progressId" type="xs:long" />
        <xs:element minOccurs="0" name="hashId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBackgroundTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateBackgroundTaskResult" type="xs:long" />
        <xs:element minOccurs="0" name="progressId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Find">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modifiedSince" type="xs:dateTime" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/InfoShareWS" minOccurs="0" name="userFilter" type="q1:eUserFilter" />
        <xs:element minOccurs="0" name="xmlMetadataFilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveDataObjectByIshDataRefs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ishDataRefs" nillable="true" type="q2:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveDataObjectByIshDataRefsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveDataObjectByIshDataRefsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>