Source/ISHRemote/Trisoft.ISHRemote/Service References/MetadataBinding25ServiceReference/MetadataBinding2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" elementFormDefault="qualified" targetNamespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ResolveIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlFieldTags" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolveIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="outXmlFieldTags" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fieldLevel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inputFilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlFieldsFilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxTagsToReturn" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlFieldTags" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveTagStructure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fieldName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fieldLevel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlFieldsFilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveTagStructureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlFieldTags" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SmartTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlFieldTags" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataLanguage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="edt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SmartTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="outXmlFieldTags" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>