Source/ISHRemote/Trisoft.ISHRemote/Service References/TranslationTemplate25ServiceReference/TranslationTemplate1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Imports">
      <xsd:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/TranslationTemplate.svc?xsd=xsd0" namespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" />
      <xsd:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/TranslationTemplate.svc?xsd=xsd2" namespace="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" />
      <xsd:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/TranslationTemplate.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TranslationTemplate_Retrieve_InputMessage">
    <wsdl:part name="parameters" element="tns:Retrieve" />
  </wsdl:message>
  <wsdl:message name="TranslationTemplate_Retrieve_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationTemplate_Retrieve_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q1="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q1:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="TranslationTemplate_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="TranslationTemplate_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationTemplate_Create_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q2="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q2:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="TranslationTemplate_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="TranslationTemplate_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationTemplate_Delete_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q3="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q3:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="TranslationTemplate_DeleteByTypeAndAlias_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByTypeAndAlias" />
  </wsdl:message>
  <wsdl:message name="TranslationTemplate_DeleteByTypeAndAlias_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteByTypeAndAliasResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationTemplate_DeleteByTypeAndAlias_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q4="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q4:InfoShareFault" />
  </wsdl:message>
  <wsdl:portType name="TranslationTemplate">
    <wsdl:operation name="Retrieve">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationTemplate/Retrieve" message="tns:TranslationTemplate_Retrieve_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationTemplate/RetrieveResponse" message="tns:TranslationTemplate_Retrieve_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationTemplate/RetrieveInfoShareFault" name="InfoShareFault" message="tns:TranslationTemplate_Retrieve_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationTemplate/Create" message="tns:TranslationTemplate_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationTemplate/CreateResponse" message="tns:TranslationTemplate_Create_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationTemplate/CreateInfoShareFault" name="InfoShareFault" message="tns:TranslationTemplate_Create_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationTemplate/Delete" message="tns:TranslationTemplate_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationTemplate/DeleteResponse" message="tns:TranslationTemplate_Delete_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationTemplate/DeleteInfoShareFault" name="InfoShareFault" message="tns:TranslationTemplate_Delete_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteByTypeAndAlias">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationTemplate/DeleteByTypeAndAlias" message="tns:TranslationTemplate_DeleteByTypeAndAlias_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationTemplate/DeleteByTypeAndAliasResponse" message="tns:TranslationTemplate_DeleteByTypeAndAlias_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationTemplate/DeleteByTypeAndAliasInfoShareFault" name="InfoShareFault" message="tns:TranslationTemplate_DeleteByTypeAndAlias_InfoShareFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>