Source--NETFramework/ISHRemote/Trisoft.ISHRemote/Service References/Search25ServiceReference/Search.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" elementFormDefault="qualified" targetNamespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/Search.svc?xsd=xsd3" namespace="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Enumerations/API25/" />
  <xs:element name="PerformSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlSearchQuery" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxHitsToReturn" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="totalHitsFound" type="xs:long" />
        <xs:element minOccurs="0" name="xmlSearchResults" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformSearchInPublication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Enumerations/API25/" minOccurs="0" name="autoCompleteMode" type="q1:BaselineAutoCompleteMode" />
        <xs:element minOccurs="0" name="xmlSearchQuery" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxHitsToReturn" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformSearchInPublicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="totalHitsFound" type="xs:long" />
        <xs:element minOccurs="0" name="xmlSearchResults" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>