Source/ISHRemote/Trisoft.ISHRemote/Service References/ListOfValues25ServiceReference/ListOfValues.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Imports">
      <xsd:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/ListOfValues.svc?xsd=xsd0" namespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" />
      <xsd:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/ListOfValues.svc?xsd=xsd3" namespace="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" />
      <xsd:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/ListOfValues.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/ListOfValues.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/ListOfValues.svc?xsd=xsd4" namespace="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Enumerations/API25/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ListOfValues_RetrieveLists_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveLists" />
  </wsdl:message>
  <wsdl:message name="ListOfValues_RetrieveLists_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveListsResponse" />
  </wsdl:message>
  <wsdl:message name="ListOfValues_RetrieveLists_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q1="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q1:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="ListOfValues_RetrieveValues_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveValues" />
  </wsdl:message>
  <wsdl:message name="ListOfValues_RetrieveValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveValuesResponse" />
  </wsdl:message>
  <wsdl:message name="ListOfValues_RetrieveValues_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q2="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q2:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="ListOfValues_CreateValue_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateValue" />
  </wsdl:message>
  <wsdl:message name="ListOfValues_CreateValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateValueResponse" />
  </wsdl:message>
  <wsdl:message name="ListOfValues_CreateValue_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q3="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q3:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="ListOfValues_CreateValue2_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateValue2" />
  </wsdl:message>
  <wsdl:message name="ListOfValues_CreateValue2_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateValue2Response" />
  </wsdl:message>
  <wsdl:message name="ListOfValues_CreateValue2_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q4="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q4:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="ListOfValues_UpdateValue_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateValue" />
  </wsdl:message>
  <wsdl:message name="ListOfValues_UpdateValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateValueResponse" />
  </wsdl:message>
  <wsdl:message name="ListOfValues_UpdateValue_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q5="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q5:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="ListOfValues_DeleteValue_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteValue" />
  </wsdl:message>
  <wsdl:message name="ListOfValues_DeleteValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteValueResponse" />
  </wsdl:message>
  <wsdl:message name="ListOfValues_DeleteValue_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q6="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q6:InfoShareFault" />
  </wsdl:message>
  <wsdl:portType name="ListOfValues">
    <wsdl:operation name="RetrieveLists">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/ListOfValues/RetrieveLists" message="tns:ListOfValues_RetrieveLists_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/ListOfValues/RetrieveListsResponse" message="tns:ListOfValues_RetrieveLists_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/ListOfValues/RetrieveListsInfoShareFault" name="InfoShareFault" message="tns:ListOfValues_RetrieveLists_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveValues">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/ListOfValues/RetrieveValues" message="tns:ListOfValues_RetrieveValues_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/ListOfValues/RetrieveValuesResponse" message="tns:ListOfValues_RetrieveValues_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/ListOfValues/RetrieveValuesInfoShareFault" name="InfoShareFault" message="tns:ListOfValues_RetrieveValues_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateValue">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/ListOfValues/CreateValue" message="tns:ListOfValues_CreateValue_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/ListOfValues/CreateValueResponse" message="tns:ListOfValues_CreateValue_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/ListOfValues/CreateValueInfoShareFault" name="InfoShareFault" message="tns:ListOfValues_CreateValue_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateValue2">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/ListOfValues/CreateValue2" message="tns:ListOfValues_CreateValue2_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/ListOfValues/CreateValue2Response" message="tns:ListOfValues_CreateValue2_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/ListOfValues/CreateValue2InfoShareFault" name="InfoShareFault" message="tns:ListOfValues_CreateValue2_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateValue">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/ListOfValues/UpdateValue" message="tns:ListOfValues_UpdateValue_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/ListOfValues/UpdateValueResponse" message="tns:ListOfValues_UpdateValue_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/ListOfValues/UpdateValueInfoShareFault" name="InfoShareFault" message="tns:ListOfValues_UpdateValue_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteValue">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/ListOfValues/DeleteValue" message="tns:ListOfValues_DeleteValue_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/ListOfValues/DeleteValueResponse" message="tns:ListOfValues_DeleteValue_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/ListOfValues/DeleteValueInfoShareFault" name="InfoShareFault" message="tns:ListOfValues_DeleteValue_InfoShareFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>