Source/ISHRemote/Trisoft.ISHRemote/Service References/DocumentObj25ServiceReference/DocumentObj3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" elementFormDefault="qualified" targetNamespace="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InfoShareFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoShareErrorNumber" type="xs:long" />
      <xs:element minOccurs="0" name="Origin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XMLDetail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfoShareFault" nillable="true" type="tns:InfoShareFault" />
</xs:schema>