Source--NETFramework/ISHRemote/Trisoft.ISHRemote/Service References/TranslationJob25ServiceReference/TranslationJob.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/Imports">
      <xsd:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/TranslationJob.svc?xsd=xsd0" namespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" />
      <xsd:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/TranslationJob.svc?xsd=xsd2" namespace="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" />
      <xsd:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/TranslationJob.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/TranslationJob.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TranslationJob_GetMetadata_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMetadata" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_GetMetadata_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_GetMetadata_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q1="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q1:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_GetPossibleTargetStatuses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPossibleTargetStatuses" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_GetPossibleTargetStatuses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPossibleTargetStatusesResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_GetPossibleTargetStatuses_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q2="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q2:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_GetTranslationJob_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTranslationJob" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_GetTranslationJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTranslationJobResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_GetTranslationJob_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q3="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q3:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_RetrieveMetadata_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMetadata" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_RetrieveMetadata_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_RetrieveMetadata_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q4="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q4:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_Find_InputMessage">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_Find_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_Find_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q5="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q5:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_RetrieveTranslationJobItems_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTranslationJobItems" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_RetrieveTranslationJobItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTranslationJobItemsResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_RetrieveTranslationJobItems_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q6="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q6:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_RetrieveExternalTranslationJobs_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveExternalTranslationJobs" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_RetrieveExternalTranslationJobs_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveExternalTranslationJobsResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_RetrieveExternalTranslationJobs_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q7="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q7:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_CreateTranslationJob_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTranslationJob" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_CreateTranslationJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTranslationJobResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_CreateTranslationJob_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q8="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q8:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_UpdateTranslationJob3_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTranslationJob3" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_UpdateTranslationJob3_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTranslationJob3Response" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_UpdateTranslationJob3_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q9="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q9:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_Delete_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q10="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q10:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_SetMetadata3_InputMessage">
    <wsdl:part name="parameters" element="tns:SetMetadata3" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_SetMetadata3_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetMetadata3Response" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_SetMetadata3_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q11="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q11:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_CreateTranslationJobItems_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTranslationJobItems" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_CreateTranslationJobItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTranslationJobItemsResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_CreateTranslationJobItems_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q12="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q12:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_UpdateTranslationJobItems_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTranslationJobItems" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_UpdateTranslationJobItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTranslationJobItemsResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_UpdateTranslationJobItems_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q13="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q13:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_DeleteTranslationJobItems_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTranslationJobItems" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_DeleteTranslationJobItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTranslationJobItemsResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_DeleteTranslationJobItems_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q14="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q14:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_CreateExternalTranslationJobs_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateExternalTranslationJobs" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_CreateExternalTranslationJobs_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateExternalTranslationJobsResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_CreateExternalTranslationJobs_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q15="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q15:InfoShareFault" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_DeleteExternalTranslationJobs_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExternalTranslationJobs" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_DeleteExternalTranslationJobs_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExternalTranslationJobsResponse" />
  </wsdl:message>
  <wsdl:message name="TranslationJob_DeleteExternalTranslationJobs_InfoShareFault_FaultMessage">
    <wsdl:part xmlns:q16="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Faults/API25/" name="detail" element="q16:InfoShareFault" />
  </wsdl:message>
  <wsdl:portType name="TranslationJob">
    <wsdl:operation name="GetMetadata">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/GetMetadata" message="tns:TranslationJob_GetMetadata_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/GetMetadataResponse" message="tns:TranslationJob_GetMetadata_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/GetMetadataInfoShareFault" name="InfoShareFault" message="tns:TranslationJob_GetMetadata_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPossibleTargetStatuses">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/GetPossibleTargetStatuses" message="tns:TranslationJob_GetPossibleTargetStatuses_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/GetPossibleTargetStatusesResponse" message="tns:TranslationJob_GetPossibleTargetStatuses_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/GetPossibleTargetStatusesInfoShareFault" name="InfoShareFault" message="tns:TranslationJob_GetPossibleTargetStatuses_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTranslationJob">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/GetTranslationJob" message="tns:TranslationJob_GetTranslationJob_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/GetTranslationJobResponse" message="tns:TranslationJob_GetTranslationJob_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/GetTranslationJobInfoShareFault" name="InfoShareFault" message="tns:TranslationJob_GetTranslationJob_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveMetadata">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/RetrieveMetadata" message="tns:TranslationJob_RetrieveMetadata_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/RetrieveMetadataResponse" message="tns:TranslationJob_RetrieveMetadata_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/RetrieveMetadataInfoShareFault" name="InfoShareFault" message="tns:TranslationJob_RetrieveMetadata_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Find">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/Find" message="tns:TranslationJob_Find_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/FindResponse" message="tns:TranslationJob_Find_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/FindInfoShareFault" name="InfoShareFault" message="tns:TranslationJob_Find_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveTranslationJobItems">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/RetrieveTranslationJobItems" message="tns:TranslationJob_RetrieveTranslationJobItems_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/RetrieveTranslationJobItemsResponse" message="tns:TranslationJob_RetrieveTranslationJobItems_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/RetrieveTranslationJobItemsInfoShareFault" name="InfoShareFault" message="tns:TranslationJob_RetrieveTranslationJobItems_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveExternalTranslationJobs">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/RetrieveExternalTranslationJobs" message="tns:TranslationJob_RetrieveExternalTranslationJobs_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/RetrieveExternalTranslationJobsResponse" message="tns:TranslationJob_RetrieveExternalTranslationJobs_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/RetrieveExternalTranslationJobsInfoShareFault" name="InfoShareFault" message="tns:TranslationJob_RetrieveExternalTranslationJobs_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTranslationJob">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/CreateTranslationJob" message="tns:TranslationJob_CreateTranslationJob_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/CreateTranslationJobResponse" message="tns:TranslationJob_CreateTranslationJob_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/CreateTranslationJobInfoShareFault" name="InfoShareFault" message="tns:TranslationJob_CreateTranslationJob_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTranslationJob3">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/UpdateTranslationJob3" message="tns:TranslationJob_UpdateTranslationJob3_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/UpdateTranslationJob3Response" message="tns:TranslationJob_UpdateTranslationJob3_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/UpdateTranslationJob3InfoShareFault" name="InfoShareFault" message="tns:TranslationJob_UpdateTranslationJob3_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/Delete" message="tns:TranslationJob_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/DeleteResponse" message="tns:TranslationJob_Delete_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/DeleteInfoShareFault" name="InfoShareFault" message="tns:TranslationJob_Delete_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetMetadata3">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/SetMetadata3" message="tns:TranslationJob_SetMetadata3_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/SetMetadata3Response" message="tns:TranslationJob_SetMetadata3_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/SetMetadata3InfoShareFault" name="InfoShareFault" message="tns:TranslationJob_SetMetadata3_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTranslationJobItems">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/CreateTranslationJobItems" message="tns:TranslationJob_CreateTranslationJobItems_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/CreateTranslationJobItemsResponse" message="tns:TranslationJob_CreateTranslationJobItems_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/CreateTranslationJobItemsInfoShareFault" name="InfoShareFault" message="tns:TranslationJob_CreateTranslationJobItems_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTranslationJobItems">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/UpdateTranslationJobItems" message="tns:TranslationJob_UpdateTranslationJobItems_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/UpdateTranslationJobItemsResponse" message="tns:TranslationJob_UpdateTranslationJobItems_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/UpdateTranslationJobItemsInfoShareFault" name="InfoShareFault" message="tns:TranslationJob_UpdateTranslationJobItems_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTranslationJobItems">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/DeleteTranslationJobItems" message="tns:TranslationJob_DeleteTranslationJobItems_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/DeleteTranslationJobItemsResponse" message="tns:TranslationJob_DeleteTranslationJobItems_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/DeleteTranslationJobItemsInfoShareFault" name="InfoShareFault" message="tns:TranslationJob_DeleteTranslationJobItems_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateExternalTranslationJobs">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/CreateExternalTranslationJobs" message="tns:TranslationJob_CreateExternalTranslationJobs_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/CreateExternalTranslationJobsResponse" message="tns:TranslationJob_CreateExternalTranslationJobs_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/CreateExternalTranslationJobsInfoShareFault" name="InfoShareFault" message="tns:TranslationJob_CreateExternalTranslationJobs_InfoShareFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteExternalTranslationJobs">
      <wsdl:input wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/DeleteExternalTranslationJobs" message="tns:TranslationJob_DeleteExternalTranslationJobs_InputMessage" />
      <wsdl:output wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/DeleteExternalTranslationJobsResponse" message="tns:TranslationJob_DeleteExternalTranslationJobs_OutputMessage" />
      <wsdl:fault wsaw:Action="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/TranslationJob/DeleteExternalTranslationJobsInfoShareFault" name="InfoShareFault" message="tns:TranslationJob_DeleteExternalTranslationJobs_InfoShareFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>