Source/ISHRemote/Trisoft.ISHRemote/Service References/TranslationJob25ServiceReference/TranslationJob3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" elementFormDefault="qualified" targetNamespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/TranslationJob.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="translationJobId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPossibleTargetStatuses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="translationJobId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPossibleTargetStatusesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlLovValueList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTranslationJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="translationJobId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTranslationJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlTranslationJobContainerList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlTranslationJobWorkflowList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="translationJobIds" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="xmlMetadataFilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Find">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlMetadataFilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveTranslationJobItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="translationJobId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveTranslationJobItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlTranslationJobItemList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveExternalTranslationJobs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="translationJobId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveExternalTranslationJobsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlTranslationJobExternalJobList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTranslationJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="writeAccess" nillable="true" type="q2:ArrayOfstring" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="readAccess" nillable="true" type="q3:ArrayOfstring" />
        <xs:element minOccurs="0" name="xmlMetadata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlTranslationJobContainerList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlTranslationJobWorkflowList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTranslationJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTranslationJob3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="translationJobId" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="writeAccess" nillable="true" type="q4:ArrayOfstring" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="readAccess" nillable="true" type="q5:ArrayOfstring" />
        <xs:element minOccurs="0" name="xmlMetadata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequiredCurrentMetadata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlTranslationJobContainerList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlTranslationJobWorkflowList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTranslationJob3Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="translationJobId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMetadata3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="translationJobId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlMetadata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequiredCurrentMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMetadata3Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTranslationJobItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="translationJobId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequiredCurrentMetadata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlTranslationJobItemList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTranslationJobItemsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTranslationJobItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="translationJobId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequiredCurrentMetadata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlTranslationJobItemList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTranslationJobItemsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTranslationJobItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="translationJobId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequiredCurrentMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTranslationJobItemsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateExternalTranslationJobs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="translationJobId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequiredCurrentMetadata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlExternalTranslationJobList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateExternalTranslationJobsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExternalTranslationJobs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="translationJobId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequiredCurrentMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExternalTranslationJobsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>