Source--NETFramework/ISHRemote/Trisoft.ISHRemote/Service References/Annotation25ServiceReference/Annotation2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" elementFormDefault="qualified" targetNamespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/Annotation.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="annotationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="annotationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlMetadata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequiredCurrentMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="annotationIds" nillable="true" type="q1:ArrayOfstring" />
        <xs:element minOccurs="0" name="xmlMetadataFilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Find">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlMetadataFilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="annotationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateReplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="replyRef" type="xs:long" />
        <xs:element minOccurs="0" name="xmlMetadata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequiredCurrentMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReplyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReply">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="replyRef" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReplyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>