Source--NETFramework/ISHRemote/Trisoft.ISHRemote/Service References/Folder25ServiceReference/Folder3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" elementFormDefault="qualified" targetNamespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API25/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/Folder.svc?xsd=xsd3" namespace="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Enumerations/API25/" />
  <xs:import schemaLocation="https://ish.example.com/ISHWS/Wcf/API25/Folder.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetMetadataByIshFolderRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="folderRef" type="xs:long" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetadataByIshFolderRefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlFolderList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubFoldersByIshFolderRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="folderRef" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubFoldersByIshFolderRefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlFolderList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="folderRef" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Enumerations/API25/" minOccurs="0" name="baseFolder" type="q1:BaseFolder" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="folderPath" nillable="true" type="q2:ArrayOfstring" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlFolderList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubFolders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Enumerations/API25/" minOccurs="0" name="baseFolder" type="q3:BaseFolder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubFoldersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlFolderList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMetadataByIshFolderRefs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="folderRefs" nillable="true" type="q4:ArrayOflong" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMetadataByIshFolderRefsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlFolderList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FolderLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="folderRef" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FolderLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Enumerations/API25/" minOccurs="0" name="baseFolder" type="q5:BaseFolder" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="folderPath" nillable="true" type="q6:ArrayOfstring" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="folderRefs" nillable="true" type="q7:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentFolderRef" type="xs:long" />
        <xs:element minOccurs="0" name="folderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ownedBy" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="readAccess" nillable="true" type="q8:ArrayOfstring" />
        <xs:element xmlns:q9="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Enumerations/API25/" minOccurs="0" name="ishFolderType" type="q9:IshFolderType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQueryFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentFolderRef" type="xs:long" />
        <xs:element minOccurs="0" name="folderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ownedBy" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="readAccess" nillable="true" type="q10:ArrayOfstring" />
        <xs:element minOccurs="0" name="xmlQuery" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateQueryFolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateReferenceFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentFolderRef" type="xs:long" />
        <xs:element minOccurs="0" name="folderName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ownedBy" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="readAccess" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateReferenceFolderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateReferenceFolderResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="folderRef" type="xs:long" />
        <xs:element minOccurs="0" name="newFolderName" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="readAccess" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQueryFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="folderRef" type="xs:long" />
        <xs:element minOccurs="0" name="newFolderName" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="readAccess" nillable="true" type="q13:ArrayOfstring" />
        <xs:element minOccurs="0" name="xmlQuery" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateQueryFolderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReferenceFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="folderRef" type="xs:long" />
        <xs:element minOccurs="0" name="newFolderName" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="readAccess" nillable="true" type="q14:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReferenceFolderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Rename">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="folderRef" type="xs:long" />
        <xs:element minOccurs="0" name="newFolderName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Move">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="folderRef" type="xs:long" />
        <xs:element minOccurs="0" name="toFolderRef" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="folderRef" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShortCuts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="folderRef" type="xs:long" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="logicalIds" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShortCutsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlErrorReport" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveShortCuts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="folderRef" type="xs:long" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="logicalIds" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveShortCutsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlErrorReport" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveObjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="toFolderRef" type="xs:long" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="logicalIds" nillable="true" type="q17:ArrayOfstring" />
        <xs:element minOccurs="0" name="fromFolderRef" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlErrorReport" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>